#performance-video {
    margin: 7rem 5rem 7rem 5rem;
}

.video-clips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7%;
}

.clips {
    height: 100%;
    width: 100%;
    max-width: 900px;
}

#performance-video p {
    font-weight: 600;
}

/* media query */

@media only screen and (max-width: 768px) {
    .video-clips {
        display: block;
    }
    
    .clip {
       margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 425px) {
    #performance-video {
        margin: 5rem 3rem 5rem 3rem;
    }
}