body {
    background-color: #f3e7e7;
}

#search-bar {
    margin: 3rem 5rem 5rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar input {
    width: 25rem;
    height: 2.5rem;
    border: 1px solid #644c4c;
    font-size: 1rem;
    font-weight: 700;
    color: #644c4c;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.5rem;
    outline: none;
}

#search-bar input:hover {
    background-color: #f3e7e7;
}

#songs-container {
    margin: 9rem 3rem 7rem 3rem;
}

.songs-line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
    margin-bottom: 2rem;
}

.song-holder {
        background-color: #ffffff;
        border-radius: 1rem;
        padding: 2rem 1rem;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: transparent;
    color: #1E0606;
    padding: 0.5rem 2rem;
    border: 1px solid #1E0606;
    border-radius: 1rem;
    background-position: right bottom;
    transition: all 0.5s ease-in;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    cursor: pointer;
    background-color: #1E0606;
    color: #E1D8EB;
    border: 1px solid #E1D8EB;
    background-position: left bottom;
    transition: all 0.5s ease-in;
}

/* media query */
@media only screen and (max-width: 768px) {
    .songs-line {
        grid-template-columns: 1fr 1fr ;
    }

    .song-holder {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 425px) {
    #search-bar input {
        font-size: 0.6rem;
        font-weight: 500;
    }

    .songs-line {
        display: block;
    }
}